@import "../../sass/variables.scss";

.core {
  @include center-column;
  flex-grow: 1;
  background-color: $dark-bg;

  &__container {
    width: 100%;
    padding: 20px;
    flex-grow: 1;
    overflow: auto;
    background-color: #24273b;
  }
}
