@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Source+Sans+Pro&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  font-size: 10px; }

a {
  text-decoration: none;
  cursor: pointer; }

.login {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: #151728;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #b4b5c6; }
  @media screen and (min-width: 1000px) {
    .login {
      flex-direction: row; } }
  .login__header {
    color: #b4b5c6;
    padding: 3rem 1rem; }
    .login__header p {
      font-size: 2rem;
      text-transform: capitalize;
      line-height: 1.25rem;
      margin: 1rem auto; }
      @media screen and (min-width: 1300px) {
        .login__header p {
          font-size: 2.3rem;
          line-height: 1.7rem; } }
    .login__header h3 {
      font-size: 5rem;
      margin-bottom: 3rem;
      font-family: "DM Sans", sans-serif;
      letter-spacing: 2px; }
      @media screen and (min-width: 1300px) {
        .login__header h3 {
          font-size: 6rem; } }
  .login__form {
    font-size: 2rem;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    @media screen and (min-width: 1000px) {
      .login__form {
        width: 60%; } }
    @media screen and (min-width: 1300px) {
      .login__form {
        width: 40%; } }
    .login__form > form {
      width: 100%;
      padding: 1rem 0;
      border-bottom: 1px solid #5c5e6e;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .login__form > form > label {
        width: 100%;
        text-transform: capitalize;
        margin-bottom: 1rem;
        margin-top: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; }
        .login__form > form > label > input {
          width: 100%;
          padding: 10px 1rem;
          margin-top: 1.2rem;
          border-radius: 3px;
          max-width: 30rem;
          font-size: 1.8rem; }
      .login__form > form > button {
        width: 100%;
        padding: 10px 1rem;
        margin-top: 1.5rem;
        background-color: #36a420;
        outline: none;
        border: none;
        border-radius: 3px;
        color: #ffffff;
        font-size: 1.7rem;
        max-width: 30rem;
        position: relative; }
        .login__form > form > button svg {
          width: 28px;
          height: 28px;
          margin-left: 1rem;
          position: absolute;
          top: 3px;
          right: 1rem; }
        .login__form > form > button:hover {
          background-color: #267716; }
    .login__form > button {
      width: 100%;
      padding: 10px 1rem;
      margin-top: 2.5rem;
      outline: none;
      border: none;
      border-radius: 3px;
      background-color: #166fe5;
      color: #ffffff;
      font-size: 2rem;
      max-width: 30rem;
      text-transform: capitalize; }
      .login__form > button:hover {
        background-color: #1670e5af; }
  .login .error {
    color: red; }

.register {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #151728; }
  .register__header {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 3rem;
    color: #b4b5c6;
    letter-spacing: 2px;
    max-width: 600px;
    padding: 2rem;
    position: relative; }
    .register__header > img {
      width: 7rem;
      height: 7rem; }
    .register__header::after {
      content: "";
      position: absolute;
      width: 60%;
      height: 1px;
      max-width: 600px;
      background-color: rgba(0, 0, 0, 0.308);
      border-bottom: 1px solid rgba(255, 255, 255, 0.329);
      box-shadow: 0px 0px 0.25px 1px 1px white;
      bottom: 0;
      padding: 0 2rem; }
  .register__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .register__form > form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .register__form > form > button {
        width: 100%;
        max-width: 300px;
        padding: 7px 1rem;
        font-size: 1.8rem;
        letter-spacing: 1px;
        margin-top: 3rem;
        border-radius: 3px;
        cursor: pointer;
        background-color: #166fe5;
        color: #ffffff;
        position: relative; }
        .register__form > form > button > svg {
          width: 28px;
          height: 28px;
          margin-left: 1rem;
          position: absolute;
          top: 3px;
          right: 1rem; }
        .register__form > form > button:hover {
          background-color: #1670e5af; }
        .register__form > form > button:active {
          transform: translateY(3px); }
    .register__form__label {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-size: 1.8rem;
      color: #b4b5c6;
      margin-top: 2rem;
      text-transform: capitalize; }
      .register__form__label > input {
        font-size: 1.8rem;
        padding: 7px 2rem;
        width: 100%;
        max-width: 300px;
        border-radius: 3px;
        border: none;
        outline: none;
        border: 1px solid transparent;
        margin-top: 1rem; }
        .register__form__label > input:focus {
          border: 1px solid #338ef5;
          box-shadow: 0px 0px 0px 1px #0060df, 0px 0px 0px 4px rgba(0, 96, 223, 0.3); }
  .register .error {
    color: red; }

.main {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-height: 1600px;
  min-height: 100vh; }

.aside {
  width: 56px;
  min-height: 56px;
  overflow: hidden;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  background-color: #151728;
  color: white;
  min-width: 56px; }
  .aside__menu {
    opacity: 0; }
  .aside__button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
    height: 60px;
    width: 100%;
    min-width: 56px;
    background-color: rgba(39, 42, 58, 0.5); }
    .aside__button > #hamburger,
    .aside__button > #arrow {
      width: 24px;
      margin-right: unset;
      stroke: white; }
    @media screen and (min-width: 930px) {
      .aside__button {
        display: none; } }
  .aside__logo {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    transform-origin: bottom;
    display: flex;
    align-items: center;
    margin-top: -10px;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    letter-spacing: 5px; }
  @media screen and (min-width: 930px) {
    .aside {
      width: 260px;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      min-height: 100%;
      background-color: #151728;
      overflow: auto; }
      .aside__logo {
        font-size: 1.6rem;
        line-height: 60px;
        position: sticky;
        top: 0;
        text-align: center;
        color: white;
        text-transform: uppercase;
        font-family: "DM Sans", sans-serif;
        font-weight: 700;
        letter-spacing: 5px;
        writing-mode: unset;
        transform: unset;
        transform-origin: unset;
        justify-content: center; }
      .aside__menu {
        color: #5c5e6e;
        font-size: 2rem;
        font-family: "Source Sans Pro", sans-serif;
        align-self: flex-start;
        padding: 30px;
        line-height: 1.15;
        width: 100%;
        opacity: 1; }
        .aside__menu__title {
          margin-bottom: 2rem;
          font-weight: 600;
          text-transform: uppercase; }
        .aside__menu__list {
          white-space: nowrap; }
          .aside__menu__list-item {
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            cursor: pointer;
            text-transform: capitalize; }
            .aside__menu__list-item:hover {
              color: white; }
              .aside__menu__list-item:hover > svg {
                stroke: white; } }
  .aside svg {
    width: 16px;
    stroke: #5c5e6e;
    margin-right: 16px; }

.overlay-active {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  visibility: visible;
  background-color: rgba(36, 39, 59, 0.8);
  pointer-events: all;
  z-index: 3; }

.overlay {
  opacity: 0;
  visibility: hidden;
  pointer-events: none; }

.aside-active {
  width: 260px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  min-height: 100%;
  background-color: #151728;
  overflow: auto;
  position: relative;
  z-index: 4; }
  .aside-active__button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
    height: 60px;
    width: 100%;
    min-width: 56px;
    background-color: rgba(39, 42, 58, 0.5); }
    .aside-active__button > #hamburger,
    .aside-active__button > #arrow {
      width: 24px;
      margin-right: unset;
      stroke: white; }
    @media screen and (min-width: 930px) {
      .aside-active__button {
        display: none; } }
  .aside-active__logo {
    font-size: 1.6rem;
    line-height: 60px;
    position: sticky;
    top: 0;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    letter-spacing: 5px;
    writing-mode: unset;
    transform: unset;
    transform-origin: unset;
    justify-content: center; }
  .aside-active__menu {
    color: #5c5e6e;
    font-size: 2rem;
    font-family: "Source Sans Pro", sans-serif;
    align-self: flex-start;
    padding: 30px;
    line-height: 1.15;
    width: 100%;
    opacity: 1; }
    .aside-active__menu__title {
      margin-bottom: 2rem;
      font-weight: 600;
      text-transform: uppercase; }
    .aside-active__menu__list {
      white-space: nowrap; }
      .aside-active__menu__list-item {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        cursor: pointer;
        text-transform: capitalize; }
        .aside-active__menu__list-item:hover {
          color: white; }
          .aside-active__menu__list-item:hover > svg {
            stroke: white; }
  .aside-active svg {
    width: 16px;
    stroke: #5c5e6e;
    margin-right: 16px; }

.overlay-active {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  visibility: visible;
  background-color: rgba(36, 39, 59, 0.8);
  pointer-events: all;
  z-index: 3; }

.overlay {
  opacity: 0;
  visibility: hidden;
  pointer-events: none; }

.core {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  background-color: #151728; }
  .core__container {
    width: 100%;
    padding: 20px;
    flex-grow: 1;
    overflow: auto;
    background-color: #24273b; }

.friends {
  width: 56px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-shrink: 0;
  background-color: #3a3c4f; }
  .friends__button {
    cursor: pointer; }
    .friends__button > svg {
      stroke: white; }
  @media screen and (min-width: 1210px) {
    .friends {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 280px;
      height: 100%;
      min-height: 100%;
      min-width: 280px;
      max-width: 280px;
      flex-shrink: 0;
      margin-left: auto;
      background-color: #151728; }
      .friends__button {
        display: none; } }

.friends-active__button {
  display: none; }

.hero {
  display: flex;
  position: relative;
  height: 40vh;
  min-height: 250px;
  max-height: 350px;
  z-index: 1; }
  .hero__cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 4px; }
  .hero::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    background-image: url("https://images.unsplash.com/photo-1508247967583-7d982ea01526?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(50px);
    opacity: 0.7; }
  .hero__avatar {
    top: -25px;
    left: 50%;
    bottom: 16px;
    position: absolute;
    transform: translatex(-50%);
    display: flex;
    z-index: 1;
    align-items: center;
    flex-direction: column;
    justify-content: center; }
    @media screen and (min-width: 700px) {
      .hero__avatar {
        top: unset;
        left: 24px;
        flex-direction: row;
        transform: unset; } }
    .hero__avatar > img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
      border: 3px solid #151728;
      display: inline-block; }
      @media screen and (min-width: 700px) {
        .hero__avatar > img {
          width: 150px;
          height: 150px; } }

.status-box {
  background-color: #151728;
  border-radius: 4px; }
  .status-box__menu {
    display: flex;
    padding: 20px;
    align-items: center; }
    .status-box__menu > span {
      display: inline-block;
      font-size: 1.5rem;
      padding: 10px 14px;
      color: #ccc8db;
      line-height: 0.7;
      font-family: "DM Sans", sans-serif;
      font-weight: 500;
      border-radius: 20px;
      background-color: transparent;
      margin-left: 1rem; }
      .status-box__menu > span.active {
        color: white;
        background-color: #2e2e40; }
    .status-box__menu > span:hover {
      color: white;
      background-color: #2e2e40; }
  .status-box__main {
    padding: 0 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #272a3a;
    padding-bottom: 20px;
    flex-wrap: wrap; }
    .status-box__main > img {
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 50%;
      margin-right: 20px; }
    .status-box__main > textarea {
      color: #5c5d71;
      overflow: auto;
      flex-grow: 1;
      background-color: transparent;
      border: none;
      resize: none;
      margin-top: 15px;
      color: #fff;
      max-width: calc(100% - 70px); }
  .status-box__actions {
    display: flex;
    padding: 10px 20px;
    justify-content: space-between; }
    .status-box__actions__links svg {
      width: 16px;
      height: 16px; }

.timeline {
  display: flex;
  padding-top: 20px;
  position: relative;
  z-index: 2; }
  .timeline__right {
    flex-grow: 1;
    margin-bottom: 20px;
    padding-left: 0; }
    @media screen and (min-width: 768px) {
      .timeline__right {
        padding-left: 20px; } }
  .timeline__left {
    width: 310px;
    flex-shrink: 0;
    min-width: 310px;
    max-width: 310px; }
